@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    .icons {
        display: flex;
        flex-wrap: nowrap;
        width: 20%;
    }

    .icon {
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s;
    }

    .possibleFavorite {
        &:hover {
            color: $color-favorite;
        }
    }

    .trash {
        &:hover {
            color: $color-warning;
        }
    }

    .favorite {
        color: $color-favorite;
    }
}