@import '../../styles/settings.scss';

.navBar {
  display: flex;
  margin: 0;
  height: 50px;
  align-items: center;
  justify-content: right;
  font-size: 15px;
  flex-wrap: nowrap;

  .left, .right {
    display: flex;
    width: 50%;
    height: 100%;

    div, li {
      display: flex;
      width: 15%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 1s;
      border-radius: 5px;
      margin-left: 5px;

      &:hover {
        background-color: $color-success;
        text-shadow: 1px 1px 1px black;
      }
    }
  }

  .left {
    justify-content: left;
  }

  .right {
    justify-content: right;

    ul {
      display: flex;
      justify-content: right;
      width: 100%;
      height: 100%;
      list-style-type: none;

      li {
        a {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.linkActive {
  border: 1px $color-success solid;
  border-radius: 5px;
}